@charset "utf-8";

/*
 * Skin: Green
 * -----------
 */

.skin-green a {
    color: #69D161;
}

.skin-green a:hover,
.skin-green a:focus {
    color: #FA7722;
}

.skin-green .footer-nav li a:hover,
.skin-green .footer-nav li a:focus {
    color: #333;
    opacity: .6;
}

.skin-green .footer-nav-inline.social-list-color li a:hover,
.skin-green .footer-nav-inline.social-list-color li a:focus {
    color: #fff;
    opacity: .6;
}

.skin-green .link-color {
    color: #69D161;
}

.skin-green ::selection {
    color: #fff;
    background: #69D161;
}

.skin-green ::-moz-selection {
    color: #fff;
    background: #69D161;
}

.skin-green .pace .pace-progress {
    background: #69D161;
}

.skin-green .search-row-wrapper {
    background: #69D161;
}

.skin-green .wide-intro .search-row {
    background-color: #69D161;
}

.skin-green button.btn-search {
    background-color: #69D161;
    border-color: #69D161;
}

.skin-green .intro {
    background: #69D161;
}

.skin-green .pricetag {
    background: #69D161;
}

.skin-green .pricetag::before {
    border-top-color: #69D161;
}

.skin-green .bg-primary {
    background-color: #69D161 !important;
}

.skin-green .border-color-primary {
    border-color: #69D161 !important;
}

.skin-green .btn-outline-primary {
    color: #69D161;
    border-color: #69D161;
}

.skin-green .btn-outline-primary:hover {
    background-color: #69D161;
    border-color: #69D161;
    color: #fff !important;
}

.skin-green .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #69D161;
}

.skin-green .btn-outline-primary:active, .btn-outline-primary.active,
.skin-green .show > .btn-outline-primary.dropdown-toggle {
    background-color: #69D161;
    border-color: #69D161;
    color: #fff !important;
}

.skin-green .btn-primary {
    background-color: #69D161;
    border-color: #69D161;
    color: #fff;
}

.skin-green .badge-primary {
    background-color: #69D161;
    color: #fff;
}

.skin-green .badge-primary[href]:focus, .badge-primary[href]:hover {
    background-color: #69D161;
    color: #fff;
}

.skin-green .btn-primary:hover,
.skin-green .btn-primary:focus,
.skin-green .btn-primary:active,
.skin-green .btn-primary.active,
.skin-green .open .dropdown-toggle.btn-primary {
    background-color: #69D161;
    border-color: #69D161;
    color: #FFFFFF;
}

.skin-green .btn-primary-dark {
    background-color: #69D161;
    border-color: #69D161;
    color: #fff;
}

.skin-green .btn-primary-dark:hover,
.skin-green .btn-primary-dark:focus,
.skin-green .btn-primary-dark:active,
.skin-green .btn-primary-dark.active,
.skin-green .open .dropdown-toggle.btn-primary-dark {
    background-color: #69D161;
    border-color: #69D161;
    color: #FFFFFF;
}

.skin-green .btn-info.disabled,
.skin-green .btn-info[disabled],
.skin-green fieldset[disabled] .btn-info,
.skin-green .btn-info.disabled:hover,
.skin-green .btn-info[disabled]:hover,
.skin-green fieldset[disabled] .btn-info:hover,
.skin-green .btn-info.disabled:focus,
.skin-green .btn-info[disabled]:focus,
.skin-green fieldset[disabled] .btn-info:focus,
.skin-green .btn-info.disabled:active,
.skin-green .btn-info[disabled]:active,
.skin-green fieldset[disabled] .btn-info:active,
.skin-green .btn-info.disabled.active,
.skin-green .btn-info.active[disabled],
.skin-green fieldset[disabled] .btn-info.active {
    background-color: #69D161;
}

.skin-green .form-control:focus {
    border-color: #69D161;
    box-shadow: 0 1px 0 #69D161, 0 -1px 0 #69D161, -1px 0 0 #69D161, 1px 0 0 #69D161;
    outline: 0 none;
}

.skin-green .logo,
.skin-green .logo-title {
    color: #69D161;
}

.skin-green .cat-list h3 a,
.skin-green .cat-list h3 {
    color: #69D161;
}

.skin-green .cat-list ul li a:hover,
.skin-green .cat-list a:hover {
    color: #69D161;
}

.skin-green .list-filter ul li p.maxlist-more a {
    color: #69D161;
}

.skin-green ul.list-link li a:hover {
    color: #69D161;
}

.skin-green .thumb-item-link:focus {
    -webkit-box-shadow: 0 0 2px #69D161;
    -moz-box-shadow: 0 0 2px #69D161;
    box-shadow: 0 0 2px #69D161;
    outline: none;
}

.skin-green .thumb-item-link.active {
    border-bottom: 4px solid #69D161;
}

.skin-green .page-bottom-info {
    background: #69D161;
}

.skin-green button.btn-search {
    text-shadow: 0 2px 2px #69D161;
    -webkit-text-shadow: 0 2px 2px #69D161;
}

.skin-green .nav-pills .nav-link.active,
.skin-green .nav-pills .nav-link.active:focus,
.skin-green .nav-pills .nav-link.active:hover {
    background-color: #69D161;
    color: #fff;
}

/* SHODOW */
.skin-green .ln-shadow {
    background-color: #69D161;
    color: #fff;
    text-shadow: 1px 1px #69D161, 2px 2px #69D161, 3px 3px #69D161, 4px 4px #69D161, 5px 5px #69D161, 6px 6px #69D161, 7px 7px #69D161, 8px 8px #69D161, 9px 9px #69D161, 10px 10px #69D161, 11px 11px #69D161, 12px 12px #69D161, 13px 13px #69D161, 14px 14px #69D161, 15px 15px #69D161, 16px 16px #69D161, 17px 17px #69D161, 18px 18px #69D161, 19px 19px #69D161, 20px 20px #69D161, 21px 21px #69D161, 22px 22px #69D161, 23px 23px #69D161, 24px 24px #69D161, 25px 25px #69D161, 26px 26px #69D161, 27px 27px #69D161, 28px 28px #69D161;
    -webkit-text-shadow: 1px 1px #69D161, 2px 2px #69D161, 3px 3px #69D161, 4px 4px #69D161, 5px 5px #69D161, 6px 6px #69D161, 7px 7px #69D161, 8px 8px #69D161, 9px 9px #69D161, 10px 10px #69D161, 11px 11px #69D161, 12px 12px #69D161, 13px 13px #69D161, 14px 14px #69D161, 15px 15px #69D161, 16px 16px #69D161, 17px 17px #69D161, 18px 18px #69D161, 19px 19px #69D161, 20px 20px #69D161, 21px 21px #69D161, 22px 22px #69D161, 23px 23px #69D161, 24px 24px #69D161, 25px 25px #69D161, 26px 26px #69D161, 27px 27px #69D161, 28px 28px #69D161;
    -moz-text-shadow: 1px 1px #69D161, 2px 2px #69D161, 3px 3px #69D161, 4px 4px #69D161, 5px 5px #69D161, 6px 6px #69D161, 7px 7px #69D161, 8px 8px #69D161, 9px 9px #69D161, 10px 10px #69D161, 11px 11px #69D161, 12px 12px #69D161, 13px 13px #69D161, 14px 14px #69D161, 15px 15px #69D161, 16px 16px #69D161, 17px 17px #69D161, 18px 18px #69D161, 19px 19px #69D161, 20px 20px #69D161, 21px 21px #69D161, 22px 22px #69D161, 23px 23px #69D161, 24px 24px #69D161, 25px 25px #69D161, 26px 26px #69D161, 27px 27px #69D161, 28px 28px #69D161;
}

.skin-green .shape-0 {
    text-shadow: 1px 1px #69D161, 2px 2px #69D161, 3px 3px #69D161, 4px 4px #69D161, 5px 5px #69D161, 6px 6px #69D161, 7px 7px #69D161, 8px 8px #69D161, 9px 9px #69D161, 10px 10px #69D161, 11px 11px #69D161, 12px 12px #69D161, 13px 13px #69D161, 14px 14px #69D161, 15px 15px #69D161, 16px 16px #69D161, 17px 17px #69D161, 18px 18px #69D161, 19px 19px #69D161, 20px 20px #69D161, 21px 21px #69D161, 22px 22px #69D161, 23px 23px #69D161, 24px 24px #69D161, 25px 25px #69D161, 26px 26px #69D161, 27px 27px #69D161, 28px 28px #69D161;
    -moz-text-shadow: 1px 1px #69D161, 2px 2px #69D161, 3px 3px #69D161, 4px 4px #69D161, 5px 5px #69D161, 6px 6px #69D161, 7px 7px #69D161, 8px 8px #69D161, 9px 9px #69D161, 10px 10px #69D161, 11px 11px #69D161, 12px 12px #69D161, 13px 13px #69D161, 14px 14px #69D161, 15px 15px #69D161, 16px 16px #69D161, 17px 17px #69D161, 18px 18px #69D161, 19px 19px #69D161, 20px 20px #69D161, 21px 21px #69D161, 22px 22px #69D161, 23px 23px #69D161, 24px 24px #69D161, 25px 25px #69D161, 26px 26px #69D161, 27px 27px #69D161, 28px 28px #69D161;

    -webkit-text-shadow: 1px 1px #69D161, 2px 2px #69D161, 3px 3px #69D161, 4px 4px #69D161, 5px 5px #69D161, 6px 6px #69D161, 7px 7px #69D161, 8px 8px #69D161, 9px 9px #69D161, 10px 10px #69D161, 11px 11px #69D161, 12px 12px #69D161, 13px 13px #69D161, 14px 14px #69D161, 15px 15px #69D161, 16px 16px #69D161, 17px 17px #69D161, 18px 18px #69D161, 19px 19px #69D161, 20px 20px #69D161, 21px 21px #69D161, 22px 22px #69D161, 23px 23px #69D161, 24px 24px #69D161, 25px 25px #69D161, 26px 26px #69D161, 27px 27px #69D161, 28px 28px #69D161;

    background-color: #69D161;
}

.skin-green .shape-0-shadow {
    text-shadow: 1px 1px #69D161, 2px 2px #69D161, 3px 3px #69D161, 4px 4px #69D161, 5px 5px #69D161, 6px 6px #69D161, 7px 7px #69D161, 8px 8px #69D161, 9px 9px #69D161, 10px 10px #69D161, 11px 11px #69D161, 12px 12px #69D161, 13px 13px #69D161, 14px 14px #69D161, 15px 15px #69D161, 16px 16px #69D161, 17px 17px #69D161, 18px 18px #69D161, 19px 19px #69D161, 20px 20px #69D161, 21px 21px #69D161, 22px 22px #69D161, 23px 23px #69D161, 24px 24px #69D161, 25px 25px #69D161, 26px 26px #69D161, 27px 27px #69D161, 28px 28px #69D161;
    -moz-text-shadow: 1px 1px #69D161, 2px 2px #69D161, 3px 3px #69D161, 4px 4px #69D161, 5px 5px #69D161, 6px 6px #69D161, 7px 7px #69D161, 8px 8px #69D161, 9px 9px #69D161, 10px 10px #69D161, 11px 11px #69D161, 12px 12px #69D161, 13px 13px #69D161, 14px 14px #69D161, 15px 15px #69D161, 16px 16px #69D161, 17px 17px #69D161, 18px 18px #69D161, 19px 19px #69D161, 20px 20px #69D161, 21px 21px #69D161, 22px 22px #69D161, 23px 23px #69D161, 24px 24px #69D161, 25px 25px #69D161, 26px 26px #69D161, 27px 27px #69D161, 28px 28px #69D161;

    -webkit-text-shadow: 1px 1px #69D161, 2px 2px #69D161, 3px 3px #69D161, 4px 4px #69D161, 5px 5px #69D161, 6px 6px #69D161, 7px 7px #69D161, 8px 8px #69D161, 9px 9px #69D161, 10px 10px #69D161, 11px 11px #69D161, 12px 12px #69D161, 13px 13px #69D161, 14px 14px #69D161, 15px 15px #69D161, 16px 16px #69D161, 17px 17px #69D161, 18px 18px #69D161, 19px 19px #69D161, 20px 20px #69D161, 21px 21px #69D161, 22px 22px #69D161, 23px 23px #69D161, 24px 24px #69D161, 25px 25px #69D161, 26px 26px #69D161, 27px 27px #69D161, 28px 28px #69D161;

    background-color: #69D161;
}

/* Bootstrap Pagination Color */
.skin-green .pagination > li > a,
.skin-green .pagination > li > span {
    color: #69D161;
}

.skin-green .pagination > li > a:hover,
.skin-green .pagination > li > span:hover,
.skin-green .pagination > li > a:focus,
.skin-green .pagination > li > span:focus {
    color: #69D161;
}

.skin-green .pagination > li.page-item.active .page-link,
.skin-green .pagination > .active > a,
.skin-green .pagination > .active > span,
.skin-green .pagination > .active > a:hover,
.skin-green .pagination > .active > span:hover,
.skin-green .pagination > .active > a:focus,
.skin-green .pagination > .active > span:focus {
    background-color: #69D161;
    border-color: #69D161;
    color: #fff;
}

/* Cookie Consent */
.skin-green .cookie-consent__agree {
    background-color: #69D161;
    box-shadow: 0 2px 5px rgba(34, 139, 34, 0.15);
}

.skin-green .cookie-consent__agree:hover {
    background-color: #69D161;
}

/* Colors Restoration */
.skin-green .btn-success,
.skin-green .btn-warning,
.skin-green .btn-danger,
.skin-green .btn-info,
.skin-green .btn-default,
.skin-green .btn-border,
.skin-green .btn-fb,
.skin-green .btn-tw,
.skin-green .btn-lkin {
    color: #fff;
}

.skin-green .btn-add-listing {
    color: #333;
}

.skin-green .cornerRibbons a {
    color: #fff;
}

.skin-green .btn.focus,
.skin-green .btn:focus,
.skin-green .btn:hover {
    color: #333;
}

.skin-green .btn-primary:hover,
.skin-green .btn-primary:focus,
.skin-green .btn-primary:active,
.skin-green .btn-primary.active,
.skin-green .open .dropdown-toggle.btn-primary,
.skin-green .btn-success:hover,
.skin-green .btn-success:focus,
.skin-green .btn-success:active,
.skin-green .btn-success.active,
.skin-green .open .dropdown-toggle.btn-success,
.skin-green .btn-warning:hover,
.skin-green .btn-warning:focus,
.skin-green .btn-warning:active,
.skin-green .btn-warning.active,
.skin-green .open .dropdown-toggle.btn-warning,
.skin-green .btn-danger:hover,
.skin-green .btn-danger:focus,
.skin-green .btn-danger:active,
.skin-green .btn-danger.active,
.skin-green .open .dropdown-toggle.btn-danger,
.skin-green .btn-info:hover,
.skin-green .btn-info:focus,
.skin-green .btn-info:active,
.skin-green .btn-info.active,
.skin-green .open .dropdown-toggle.btn-info,
.skin-green .btn-default:hover,
.skin-green .btn-default:focus,
.skin-green .btn-default:active,
.skin-green .btn-default.active,
.skin-green .open .dropdown-toggle.btn-default,
.skin-green .btn-post:hover,
.skin-green .btn-post:active,
.skin-green .fb_button:hover,
.skin-green .btn-fb:hover,
.skin-green .tw_button:hover,
.skin-green .btn-tw:hover,
.skin-green .lin_button:hover,
.skin-green .btn-lin:hover,
.skin-green .lkin_button:hover,
.skin-green .btn-lkin:hover {
    color: #fff;
}

.skin-green .footer ul li a {
    color: #999;
}

.skin-green .btn-secondary,
.skin-green .btn-default {
    color: #292b2c;
}

.skin-green .btn-secondary:hover,
.skin-green .btn-secondary:focus,
.skin-green .btn-secondary:active,
.skin-green .btn-secondary.active,
.skin-green .open .dropdown-toggle.btn-secondary,
.skin-green .btn-default:hover,
.skin-green .btn-default:focus,
.skin-green .btn-default:active,
.skin-green .btn-default.active,
.skin-green .open .dropdown-toggle.btn-default {
    color: #292b2c;
}

.skin-green .dropdown-menu > li a:focus,
.skin-green .dropdown-menu > li a:hover {
    color: #333;
}

.skin-green .add-title a {
    color: #333;
}

.skin-green .add-title a:hover,
.skin-green .add-title a:focus {
    color: #666;
}

.skin-green .tags a:hover {
    border-color: #69D161;
}
