/*      COLOR VARIABLES      */
@use '../partials/colorVariable' as color;
/*      COLOR VARIABLES      */

/*      FONT VARIABLES      */
@use '../partials/fontVariable' as font;
/*      FONT VARIABLES      */

/*      MIXINS      */
@use "../partials/mixin" as mix;
/*      /MIXINS      */

/*      HEADER      */
#wrapper {
  padding-top: 0 !important;
}

a {

  &.btn {

    &.btn-add-listing {
      box-shadow: unset;
      text-shadow: unset;
      color: color.$primary !important;
      border-radius: 1.5rem !important;
      font-family: font.$font-montserrat;
      background: color.$transparent !important;
      border: 1px solid color.$primary !important;

      &:hover, &:focus, &:active, &.active {
        border-color: color.$white !important;
        background: color.$transparent !important;
      }

    }

  }

}

.header {
  @include mix.shadow-custom-top;
  border-bottom-left-radius: 3.125rem;
  border-bottom-right-radius: 3.125rem;
  border-bottom: 1px solid color.$gray;
  background-color: color.$primary;
  margin-bottom: 1.25rem;

  .navbar {

    &.header-main {
      @include mix.shadow-custom-top;
      border-bottom-left-radius: 3.125rem;
      border-bottom-right-radius: 3.125rem;
      position: relative !important;

      .navbar-toggler {
        //border-color: rgba(0,0,0,.1);
        border-color: color.$primary;
        color: color.$primary;
      }

      &.stuck {
        margin-top: 0;
      }

      ul {

        &.navbar-nav {

          li {

            a {

              &.user-image-wrap {
                @include mix.flex-vertically-center;
                position: relative;
                padding: 0;

                .user-image {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  overflow: hidden;
                  position: relative;

                  img {
                    position: absolute;
                    width: 100%;

                  }

                }

                &::after {
                  position: absolute;
                  right: -0.6rem;
                }

              }

            }

          }

        }

      }

    }

    .navbar-brand {
      padding-top: 10px;
      padding-bottom: 10px;

      img {
        max-width: 135px;
      }

    }

    ul {

      &.navbar-nav {

        li {
          margin-top: 0;
          margin-bottom: 0;
        }

      }

    }

  }

  .header-navigation {
    @include mix.flex-vertically-center;
    color: color.$white;
    min-height: 50px;

    .dropdown {

      .dropdown-toggle {
        border: transparent;
        background: transparent;
        font-family: font.$font-montserrat;
      }

      .dropdown-menu {
        border-radius: 1.75rem;
        border: none;

        .vertical-menu {

          .main-item {

            & > a {

              &.dropdown-item {
                color: color.$primary;
                padding: 0.25rem 1rem;

                &:hover, &:focus, &:active, &.active {
                  background: color.$transparent;
                }

              }

            }

            .sub-menu {

              .submenu-item {

                a {

                  &.dropdown-item {
                    color: color.$tertiary;
                    white-space: normal;

                    &:hover, &:focus, &:active, &.active {
                      background: transparent;
                      color: color.$primary;
                    }

                  }

                }

              }

            }

          }


        }

      }

    }

    .navigation-special {
      @include mix.flex-wrap;
      @include mix.flex-vertically-center;
      @include mix.justify-content-between;

      .dropdown-item {
        width: auto;
        max-width: 24%;
        color: #fff !important;
        font-family: font.$font-montserrat;

        span {
          display: block;
          //white-space: normal;
        }

        &:hover, &:focus, &:active, &.active {
          background: color.$transparent;
        }

      }

    }

    .category-add {

      .navbar-nav {

        .postadd {

          a {

            &.btn {

              &.btn-add-listing {
                box-shadow: unset;
                text-shadow: unset;
                border-radius: 1.5rem !important;
                font-family: font.$font-montserrat;
                border: 1px solid transparent !important;
                background: color.$transparent !important;

                img {
                  width: 35px;
                }

                span {
                  color: #fff;
                }

                &:hover, &:focus, &:active, &.active {
                  border-color: color.$white !important;
                  background: color.$transparent !important;
                }

              }

            }

          }

        }

      }

    }

  }

}

/*      /HEADER      */

.page-header-wrapper {
  height: 60px;
}
